[Unit]
Description=Set up Indie Box networking
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/indiebox-networking/bin/initialize

[Install]
WantedBy=multi-user.target
