except-interface=${networking.upstream-nic.name}
domain=${networking.network.domain}
dhcp-range=${networking.network.dhcp.from-ip},${networking.network.dhcp.to-ip}
dhcp-script=/bin/echo
log-queries
log-dhcp
