[Unit]
Description=Ping and report UBOS Live status

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d
AccuracySec=1h
Unit=ubos-live-ping.service

[Install]
WantedBy=timers.target
