# This must be called avahi-daemon and be installed into /etc
# to override the default that comes with the package
[Unit]
Description=mDNS/DNS-SD for UBOS
After=\
    ubos-networking-client.service \
    ubos-networking-gateway.service \
    ubos-networking-standalone.service
StopWhenUnneeded=true

[Service]
Type=dbus
BusName=org.freedesktop.Avahi
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart avahi-daemon
ExecStart=/usr/bin/avahi-daemon -f /etc/avahi/ubos-avahi.conf -s
ExecReload=/usr/bin/avahi-daemon -f /etc/avahi/ubos-avahi.conf -r
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop avahi-daemon
NotifyAccess=main

[Install]
WantedBy=multi-user.target
Alias=dbus-org.freedesktop.Avahi.service
