[Unit]
Description=UBOS networking
Wants=network.target systemd-networkd.service systemd-resolved.service
# Wants, not Requires: Do not restart ubos-networking if systemd-xxx gets restarted
Before=network.target
Requires=ubos-admin.service
After=ubos-admin.service systemd-networkd.service systemd-resolved.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-networking
ExecStart=/usr/share/ubos-networking/bin/ubos-networking-initialize
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-networking

[Install]
WantedBy=multi-user.target
