[Unit]
Description=UBOS networking (client)
Requires=\
    avahi-daemon.service \
    network.target \
    ubos-systemd-networkd@client.service \
    ubos-systemd-resolved@client.service \
    ubos-systemd-timedated@client.service \
    ubos-admin.service \
    ubos-nftables@client.service
Before=\
    avahi-daemon.service \
    ubos-systemd-networkd@client.service \
    ubos-systemd-resolved@client.service \
    ubos-systemd-timedated@client.service \
    ubos-admin.service \
    ubos-nftables@client.service
Conflicts=\
    ubos-networking-cloud.service \
    ubos-networking-gateway.service \
    ubos-networking-off.service \
    ubos-networking-standalone.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-networking-client
ExecStart=/usr/share/ubos-networking/bin/activate-netconfig client
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-networking-client

[Install]
WantedBy=multi-user.target
