[Unit]
Description=UBOS networking (off)
Requires=\
    avahi-daemon.service \
    network.target \
    systemd-networkd.service \
    systemd-resolved.service \
    ubos-admin.service \
    ubos-nftables.service
Before=\
    avahi-daemon.service \
    systemd-networkd.service \
    systemd-resolved.service \
    ubos-admin.service \
    ubos-nftables.service
Conflicts=\
    cloud-init.service \
    systemd-timedated.service \
    ubos-networking-client.service \
    ubos-networking-cloud.service \
    ubos-networking-gateway.service \
    ubos-networking-off.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-networking-standalone
ExecStart=/usr/share/ubos-networking/bin/activate-netconfig standalone
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-networking-standalone

[Install]
WantedBy=multi-user.target
