[Unit]
Description=Set up UBOS networking
Wants=network.target
Before=network.target
Requires=ubos-admin.service
After=ubos-admin.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-networking
ExecStart=/usr/share/ubos-networking/bin/ubos-networking-initialize
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-networking

[Install]
WantedBy=multi-user.target
