[Unit]
Description=UBOS networking (gateway)
Requires=\
    avahi-daemon.service \
    network.target \
    ubos-systemd-networkd@gateway.service \
    ubos-systemd-resolved@gateway.service \
    ubos-systemd-timedated@gateway.service \
    ubos-admin.service \
    ubos-nftables@gateway.service
Before=\
    avahi-daemon.service \
    ubos-systemd-networkd@gateway.service \
    ubos-systemd-resolved@gateway.service \
    ubos-systemd-timedated@gateway.service \
    ubos-admin.service \
    ubos-nftables@gateway.service
Conflicts=\
    ubos-networking-client.service \
    ubos-networking-cloud.service \
    ubos-networking-off.service \
    ubos-networking-standalone.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-networking-gateway
ExecStart=/usr/share/ubos-networking/bin/activate-netconfig gateway
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-networking-gateway

[Install]
WantedBy=multi-user.target
