<?xml version='1.0' encoding='utf-8'?>
<!--
  server.xml as distributed by Apache, but modified for UBOS
  
  This file is part of ubos-admin.
  (C) 2012-2015 Indie Computing Corp.

  ubos-admin is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  ubos-admin is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with ubos-admin.  If not, see <http://www.gnu.org/licenses/>.

-->
<Server port="8005" shutdown="SHUTDOWN">
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">

    <Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
               URIEncoding="UTF-8" />

               <!-- UBOS: added URIEncoding per Jenkins' complaint about Tomcat violating RFCs:
                    http://wiki.jenkins-ci.org/display/JENKINS/Tomcat#Tomcat-i18n -->
                    
    <Connector port="8009" protocol="AJP/1.3"
               redirectPort="8443"
               URIEncoding="UTF-8" />

               <!-- UBOS: added URIEncoding per Jenkins' complaint about Tomcat violating RFCs:
                    http://wiki.jenkins-ci.org/display/JENKINS/Tomcat#Tomcat-i18n -->

    <Engine name="Catalina" defaultHost="__wildcard">

               <!-- UBOS: the __wildcard hostname corresponds to UBOS::Site::$WILDCARDHOSTNAME -->

INSERT-UBOS-SITES-HERE

    </Engine>
  </Service>
</Server>
