<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">UBOS secure web apps at %h</name>
 <service>
  <type>_https._tcp</type>
  <port>443</port>
 </service>
</service-group>
