html {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #f0f0f0;
}
body {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
div.page {
    background: #ffffff;
    padding: 20px 40px;
    box-shadow: 3px 3px 3px 3px #ccc;
}
div.logo {
    float: right;
    padding: 10px 20px 0 20px;
}
div.content {
    margin-top: 15px;
    min-height: 400px;
}
h1 {
    font-weight: normal;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #b0b0b0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
a img {
    border: 0;
}
div.apps {
    clear: both;
}
div.apps > a,
div.apps > span {
    display: block;
    float: left;
    margin: 20px 10px;
    height: 120px;
    width: 120px;
}
div.app > div.icon {
    width: 72px;
    height: 72px;
    margin: 0 auto 10px auto;
    padding: 6px;
    border-width: 0;
    border-radius: 4px;
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 3px 3px 3px 3px #ccc;
}
div.app > p {
    text-align: center;
    font-size: 12px;
    margin: 3px 0;
}
div.app > p.name {
    font-weight: bold;
}

div.footer {
    border-top: 1px solid #b0b0b0;
    font-size: x-small;
    color: #b0b0b0;
    clear: both;
}
div.footer p {
    margin: 0;
    padding: 0;
}
