[Unit]
Description=Let's Encrypt renewal
ConditionPathExists=/usr/bin/certbot
# the certbot package may not actually be installed; only installed once the first
# letsencrypt site is installed

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart certbot
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop certbot

Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --agree-tos --post-hook "/usr/bin/systemctl restart httpd.service"
