[Unit]
Description=Let's Encrypt renewal
ConditionPathExists=/usr/bin/certbot
# the certbot package may not actually be installed; only installed once the first
# letsencrypt site is installed

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --agree-tos --post-hook "/usr/bin/systemctl restart ubos-httpd.service"
