[Unit]
Description=Configure or reconfigure ubos-admin on startup
Wants=rngd.service network.target cronie.service ntpd.service ubos-httpd.service
Requires=ubos-mysqld.service 
# ubos-admin wants to set a root password for mysql, so start mysqld first
After=ubos-mysqld.service
# ubos-admin wants to change the Apache config, so start Apache later
Before=ubos-httpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-admin
ExecStart=/usr/share/ubos-admin/bin/ubos-admin-initialize
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-admin

[Install]
WantedBy=multi-user.target
