[Unit]
Description=Anonymizing Overlay Network
After=network.target
Conflicts=tor.service

[Service]
User=tor
Type=simple
ExecStartPre=/usr/share/ubos-admin/bin/recreate-torrc
ExecStart=/usr/bin/tor -f /etc/tor/torrc
ExecReload=/usr/share/ubos-admin/bin/recreate-torrc
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=8192
PrivateDevices=yes
PermissionsStartOnly=yes

[Install]
WantedBy=multi-user.target
