[Unit]
Description=Apache Web Server configured for UBOS
After=network.target remote-fs.target nss-lookup.target ubos-admin.service
Conflicts=httpd.service

[Service]
Type=forking
PIDFile=/run/httpd/httpd.pid
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-httpd
ExecStart=/usr/share/ubos-admin/bin/ubos-apachectl start
ExecStop=/usr/share/ubos-admin/bin/ubos-apachectl graceful-stop
ExecReload=/usr/share/ubos-admin/bin/ubos-apachectl graceful
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-http
PrivateTmp=true
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
