[Unit]
Description=ubos-admin configuration
Wants=network.target cronie.service httpd.service
# ubos-admin wants to change the Apache config, so start Apache later
Before=httpd.service

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-admin
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-admin

Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/ubos-admin/bin/ubos-admin-initialize

[Install]
WantedBy=multi-user.target
