[Unit]
Description=MariaDB database server configured for UBOS
After=syslog.target
Conflicts=mysqld.service

[Service]
User=mysql
Group=mysql
ExecStartPre=/usr/share/ubos-admin/bin/ubos-mysqld-start-pre
ExecStart=/usr/bin/mysqld --defaults-file=/etc/mysql/mysql-ubos.cnf --pid-file=/run/mysqld/mysqld.pid
ExecStartPost=/usr/bin/mysqld-post
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-mysqld
Restart=always
PrivateTmp=true
TimeoutStartSec=180
# Doubling the timeout -- can take a long time on little devices with sd cards

[Install]
WantedBy=multi-user.target
