[Unit]
Description=ubos-admin configuration
Wants=network.target systemd-timedated.service cronie.service ubos-httpd.service
# ubos-admin wants to change the Apache config, so start Apache later
Before=ubos-httpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-admin
ExecStart=/usr/share/ubos-admin/bin/ubos-admin-initialize
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-admin

[Install]
WantedBy=multi-user.target
