[Unit]
Description=Apache Web Server configured for UBOS
After=network.target remote-fs.target nss-lookup.target ubos-admin.service
Conflicts=httpd.service

[Service]
Type=simple
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart ubos-httpd
ExecStart=/usr/bin/httpd -k start -DFOREGROUND -f /etc/httpd/conf/httpd-ubos.conf
ExecStop=/usr/bin/httpd -k graceful-stop -f /etc/httpd/conf/httpd-ubos.conf
ExecReload=/usr/bin/httpd -k graceful -f /etc/httpd/conf/httpd-ubos.conf
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop ubos-http
PrivateTmp=true
LimitNOFILE=infinity
TimeoutStartSec=180
# This may take long on slow hardware (e.g. Raspberry Pi) for the initial boot

[Install]
WantedBy=multi-user.target

